*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #FFFBF0;
}
.banner_text{
    font-size: 60px;
}
.banner_paragraph{
    font-size: 18px;
    color: #3E3E3E;
}
.banner_button{
    background-color: #90AA29;
    border: 0;
    padding: 15px 20px;
    border-radius: 5px;
}
.women_card{
    border: 0;
}
.women_card_footer{
    border: 0;
    background-color: #fff;
}
.card_image{
    background-color: #F1F1F1;
    height: 300px;
    border-radius: 20px;
}
.card-title-text{
    color: #363958;
    font-size: 25px;
}
#about{
    margin-top: 150px;
}
.about_item{
    background-color: #fff;
    height: 130px;
    padding: 30px 5px;
    border-radius: 20px;
}
.about_text h3{
    font-size: 20px;
}